body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent !important;
}

#viz-container {
  width: 100vw;
  height: 100vh;
}

.legend {
  font-family: sans-serif;
  fill: #333;
}